<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Kezdőlap</title>
	<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/assets/search.css}">
	<link th:rel="stylesheet" th:href="@{assets/bootstrap-switch/bootstrap-switch.min.css}"/>
	<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Iktato rendszer</a>
		<a class="navbar-brand" href="/submit">Adatfelvitel</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/search2">Keresés</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>


	<div class="card border-primary mb-3">
		<h5 class="card-header">
			<span class="text-black">Ön adatai</span>
		</h5>
		<div class="card-body">
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">Email</div>
					</div>
					<input type="text" class="form-control" th:name="userEmail"
						th:value="${user.email}">
				</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Teljes bevétel</div>
				</div>
				<input type="text" class="form-control" th:name="amountIncome"
					   th:value="${amountIncome}">
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Megbízások száma</div>
				</div>
				<input type="text" class="form-control" th:name="amountOrder"
					   th:value="${amountOrder}">
			</div>
		</div>
	</div>


<!--	<div class="card border-primary mb-3">-->
<!--		<h5 class="card-header">-->
<!--			<span class="text-white">Wagers</span>-->
<!--		</h5>-->
<!--		<div class="card-body">-->
<!--			<table class="table">-->
<!--				<thead class="thead">-->
<!--					<tr>-->
<!--						<th scope="col">Remove wager</th>-->
<!--						<th scope="col">Event title</th>-->
<!--						<th scope="col">Event type</th>-->
<!--						<th scope="col">Bet type</th>-->
<!--						<th scope="col">Outcome value</th>-->
<!--						<th scope="col">Outcome odd</th>-->
<!--						<th scope="col">Wager amount</th>-->
<!--						<th scope="col">Winner</th>-->
<!--						<th scope="col">Processed</th>-->
<!--					</tr>-->
<!--				</thead>-->
<!--				<tbody>-->
<!--					<tr th:each="wager, rows : ${wagers}">-->
<!--						<td>-->
<!--							<form th:action="@{/removeWagerPost}" method="POST">-->
<!--								<button type="submit" class="btn btn-primary"-->
<!--									th:name="wagerIndex" th:value="${rows.count}">Remove</button>-->
<!--							</form>-->
<!--						</td>-->
<!--						<td th:text="${wager.outcome.bet.event.title}"></td>-->
<!--						<td th:text="${wager.outcome.bet.description}"></td>-->
<!--						<td th:text="${wager.outcome.description}"></td>-->
<!--						<td th:text="${wager.outcome.odd}"></td>-->
<!--						<td th:text="${wager.amount}"></td>-->
<!--						<td th:text="${wager.win}"></td>-->
<!--						<td th:text="${wager.processed}"></td>-->
<!--					</tr>-->
<!--				</tbody>-->
<!--			</table>-->
<!--		</div>-->
<!--	</div>-->

</body>
</html>