<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Keresés</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/search.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Iktato rendszer</a>
    <a class="navbar-brand" href="/submit">Adatfelvitel</a>
    <a class="navbar-brand" href="#">Keresés</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="card border-primary mb-3">
    <h2 class="card-header" align="center">Keresés</h2>
    <div class="card-body">
    <form th:action="@{/search}" method="get">
        <input type="text" name="keyword" th:value="${keyword}"  placeholder="Keresés helyrajzi szám/Irányítószám/Város/Megbízó alapján" size="50" >
        <button type="submit" class="btn btn-info" >Keresés</button>
        <button type="submit" class="btn btn-info" >Alapállapot</button>
    </form>
    <table class="table table-bordered table-sm mt-2">
        <thead>
        <tr>
            <th scope="col">Sorszám</th>
            <th scope="col">Helyrajzi szám</th>
            <th scope="col">Irányítószám</th>
            <th scope="col">Város</th>
            <th scope="col">Utca</th>
            <th scope="col">Házszám</th>
            <th scope="col">Emelet</th>
            <th scope="col">Ajtó</th>
            <th scope="col">Megbízó</th>
            <th scope="col">Megbízó képviselője</th>
            <th scope="col">Díj</th>
            <th scope="col">Ig típus</th>
            <th scope="col">Va típus</th>
            <th scope="col">Határidő</th>
            <th scope="col">Megjegyzés</th>
            <th scope="col">Létrehozás dátuma</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data, rows : ${list}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.hszNum}"></td>
            <td th:text="${data.irNum}"></td>
            <td th:text="${data.city}"></td>
            <td th:text="${data.street}"></td>
            <td th:text="${data.streetNum}"></td>
            <td th:text="${data.floorNum}"></td>
            <td th:text="${data.doorNum}"></td>
            <td th:text="${data.principal}"></td>
            <td th:text="${data.principalDelegate}"></td>
            <td th:text="${data.amount}"></td>
            <td th:text="${data.ig_category}"></td>
            <td th:text="${data.va_category}"></td>
            <td th:text="${data.date}"></td>
            <td th:text="${data.description}"></td>
        </tr>
        </tbody>
    </table>
        </div>
</div>



<!--    <div class="card border-primary mb-3">-->
<!--        <h5 class="card-header">-->
<!--            <span class="text-black">Összes Találat:</span>-->
<!--        </h5>-->
<!--        <div class="card-body">-->
<!--            <table class="table">-->
<!--                <thead class="thead">-->
<!--                <tr>-->
<!--                    <th scope="col">Sorszám</th>-->
<!--                    <th scope="col">Helyrajzi szám</th>-->
<!--                    <th scope="col">Irányítószám</th>-->
<!--                    <th scope="col">Város</th>-->
<!--                    <th scope="col">Utca</th>-->
<!--                    <th scope="col">Házszám</th>-->
<!--                    <th scope="col">Emelet</th>-->
<!--                    <th scope="col">Ajtó</th>-->
<!--                    <th scope="col">Megbízó</th>-->
<!--                    <th scope="col">Megbízó képviselője</th>-->
<!--                    <th scope="col">Díj</th>-->
<!--                    <th scope="col">Ig típus</th>-->
<!--                    <th scope="col">Va típus</th>-->
<!--                    <th scope="col">Határidő</th>-->
<!--                    <th scope="col">Megjegyzés</th>-->
<!--                    <th scope="col">Létrehozás dátuma</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="data, rows : ${datas}">-->
<!--                    <td th:text="${data.id}"></td>-->
<!--                    <td th:text="${data.hszNum}"></td>-->
<!--                    <td th:text="${data.irNum}"></td>-->
<!--                    <td th:text="${data.city}"></td>-->
<!--                    <td th:text="${data.street}"></td>-->
<!--                    <td th:text="${data.streetNum}"></td>-->
<!--                    <td th:text="${data.floorNum}"></td>-->
<!--                    <td th:text="${data.doorNum}"></td>-->
<!--                    <td th:text="${data.principal}"></td>-->
<!--                    <td th:text="${data.principalDelegate}"></td>-->
<!--                    <td th:text="${data.amount}"></td>-->
<!--                    <td th:text="${data.ig_category}"></td>-->
<!--                    <td th:text="${data.va_category}"></td>-->
<!--                    <td th:text="${data.date}"></td>-->
<!--                    <td th:text="${data.description}"></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->




</body>
</html>