<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aliktatás</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/search.css}">
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-switch/bootstrap-switch.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <form th:action="@{/removeSelectedDataFromSession}" method="POST" >
        <button type="submit" class="btn btn-primary" th:name="dataIndex" th:value="${data.id}">Vissza</button>
    </form>
</nav>


<div class="card border-primary mb-3">
    <h2 class="card-header" align="center">Kiválasztott aliktatás</h2>
    <div class="card-body">
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        <form class="col card p-3 mb-5" method="post" th:action="@{/submitEdit}" th:object="${dataEditInfo}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Jelenlegi iktatószám</div>
                        </div>
                        <input type="text" class="form-control" th:name="iktNum"
                               th:value="${data.dataHolder.iktNum}">
                    </div>
                    <div class="form-group" th:object="${idDataHolderValue}">
                        <label for="dataH">Új iktatószám csatolása</label>
                        <select class="form-control " id="dataH" required th:field="*{idValue}">
                            <option hidden value="">Válassz iktatószámot</option>
                            <option
                                    th:each="data : ${datasList}"
                                    th:text="${data.iktNum}"
                                    th:value="${data.id}">
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Helyrajziszám</div>
                        </div>
                        <input type="text" class="form-control" th:name="hszNum"
                                th:field="*{hszNum}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Irányítószám</div>
                        </div>
                        <input id="irNum" name="irNum" type="text" class="form-control" th:name="irNum"
                                th:field="*{irNum}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Város</div>
                        </div>
                        <input type="text" class="form-control" th:name="city"
                               th:field="*{city}">
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Utca</div>
                        </div>
                        <input type="text" class="form-control" th:name="street"
                                th:field="*{street}">
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Házszám</div>
                        </div>
                        <input type="text" class="form-control" th:name="streetNum"
                                th:field="*{streetNum}">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Emelet</div>
                        </div>
                        <input type="text" class="form-control" th:name="floorNum"
                                th:field="*{floorNum}">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Ajtó</div>
                        </div>
                        <input type="text" class="form-control" th:name="doorNum"
                                th:field="*{doorNum}">
                    </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Megbízó</div>
                            </div>
                            <input type="text" class="form-control" th:name="principal"
                                    th:field="*{principal}">
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Megbízó képviselője</div>
                            </div>
                            <input type="text" class="form-control" th:name="principalDelegate"
                                    th:field="*{principalDelegate}">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Díj</div>
                            </div>
                            <input type="text" class="form-control" th:name="amount"
                                    th:field="*{amount}">
                        </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <label for="ig_category" >Megbízó típus</label>
                        </div>
                        <select class="form-control " id="ig_category" required th:field="*{ig_category}" >
                            <option hidden value="" >Válassz megbízó típust</option>
                            <option
                                    th:each="igCategory : ${T(com.release.iktatoapi.data.entity.IgCategory).values()}"
                                    th:text="${igCategory}"
                                    th:value="${igCategory}">
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                        <label for="va_category">Szakértői típus</label>
                        </div>
                        <select class="form-control " id="va_category" required th:field="*{va_category}">
                            <option hidden value="">Válassz szakértői típust</option>
                            <option
                                    th:each="vaCategory : ${T(com.release.iktatoapi.data.entity.VaCategory).values()}"
                                    th:text="${vaCategory}"
                                    th:value="${vaCategory}">
                            </option>
                        </select>
                    </div>



                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Megjegyzés</div>
                                </div>
                                <input type="text" class="form-control" th:name="description"
                                        th:field="*{description}">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Határidő</div>
                                </div>
                                <input type="date" class="form-control" th:name="date"
                                       th:field="*{date}">
                            </div>

                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Mentés">
                </div>
        </form>
    </div>
</div>


<!--<div class="card border-primary mb-3">-->
<!--    <h5 class="card-header">-->
<!--        <span class="text-white">Címek</span>-->
<!--    </h5>-->
<!--    <div class="card-body">-->
<!--        <table class="table table-hover table-responsive-xl">-->
<!--            <thead class="thead">-->
<!--            <tr>-->
<!--                <th scope="col">Megtekintés</th>-->
<!--                <th scope="col">Helyrajzi szám</th>-->
<!--                <th scope="col">Irányítószám</th>-->
<!--                <th scope="col">Város</th>-->
<!--                <th scope="col">Utca</th>-->
<!--                <th scope="col">Házszám</th>-->
<!--                <th scope="col">Emelet</th>-->
<!--                <th scope="col">Ajtó</th>-->
<!--                <th scope="col">Megbízó</th>-->
<!--                <th scope="col">Megbízó képviselője</th>-->
<!--                <th scope="col">Díj</th>-->
<!--                <th scope="col">Megbízó típus</th>-->
<!--                <th scope="col">Szakértői típus</th>-->
<!--                <th scope="col">Határidő</th>-->
<!--                <th scope="col">Megjegyzés</th>-->
<!--                <th scope="col">Állapot</th>-->
<!--                <th scope="col">Műveletek</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="data, rows : ${datasList}">-->
<!--                <form th:action="@{/selectedDataPost}" method="POST">-->
<!--                    <button type="submit" class="btn btn-primary" th:name="dataIndex" th:value="${data.id}">Megtekintés</button>-->
<!--                </form>-->
<!--                <td th:text="${data.hszNum}"></td>-->
<!--                <td th:text="${data.irNum}"></td>-->
<!--                <td th:text="${data.city}"></td>-->
<!--                <td th:text="${data.street}"></td>-->
<!--                <td th:text="${data.streetNum}"></td>-->
<!--                <td th:text="${data.floorNum}"></td>-->
<!--                <td th:text="${data.doorNum}"></td>-->
<!--                <td th:text="${data.principal}"></td>-->
<!--                <td th:text="${data.principalDelegate}"></td>-->
<!--                <td th:text="${data.amount}"></td>-->
<!--                <td th:text="${data.ig_category}"></td>-->
<!--                <td th:text="${data.va_category}"></td>-->
<!--                <td th:text="${data.date}"></td>-->
<!--                <td th:text="${data.description}">-->
<!--                <td>-->
<!--                    <div th:unless="${data.isDone}"><p>Folyamatban</p></div>-->
<!--                    <div th:if="${data.isDone}"><p>Kész</p></div>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <form th:unless="${data.isDone}" th:action="@{/setDone}" method="post">-->
<!--                        <button type="submit" class="btn btn-info" th:name="dataIndex" th:value="${data.id}">Kész</button>-->
<!--                    </form>-->
<!--                    <form th:if="${data.isDone}" th:action="@{/setNotDone}" method="post">-->
<!--                        <button type="submit" class="btn btn-secondary" th:name="dataIndex" th:value="${data.id}">Folyamatban</button>-->
<!--                    </form>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>