<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adatfelvitel</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/search.css}">
    <link rel="stylesheet" th:href="@{/assets/nav.css}">
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-switch/bootstrap-switch.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link " href="/home">Kezdőlap</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="">Adatfelvitel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/search2">Keresés</a>
        </li>
    </ul>
</nav>
<div class="card border-primary mb-3">
    <h2 class="card-header" align="center">Iktatószám generálás</h2>
    <div class="card-body">
        <div class="alert alert-success" id="target" align="center" role="alert" th:text="${generate}" th:if="${generate}">
            <div class="container">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </span>
                </button>
            </div>
        </div>

        <form class="col card p-3 mb-5" method="post" th:action="@{/generateDataHolder}">
            <div class="container">
                <input class="btn btn-primary" type="submit" value="Új iktatószám generálása">
            </div>
        </form>
    </div>
</div>

<div class="card border-primary mb-3">
    <h2 class="card-header" align="center">Adatrögzítés</h2>
    <div class="card-body">
        <div class="alert alert-success" id="target2" align="center" role="alert" th:text="${success}" th:if="${success}"></div>
        <form class="col card p-3 mb-5" method="post" th:action="@{/submit}" th:object="${dataInfo}">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group" >
                            <label for="dataH">Iktatószám csatolása</label>
                            <select class="form-control " id="dataH" required th:field="*{dataHolder}">
                                <option hidden value="">Válassz iktatószámot</option>
                                <option
                                        th:each="data, rows : ${dataList}"
                                        th:text="${data.iktNum}"
                                        th:value="${data.id}">
                                </option>
                            </select>
                        </div>
                            <div class="form-group">
                                <label for="hszNum">Helyzajzi szám</label>
                                <input class="form-control" id="hszNum" placeholder="Helyrajzi szám"
                                       th:field="*{hszNum}"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="irNum">Irányítószám</label>
                                <input class="form-control" id="irNum" placeholder="Irányítószám"
                                       th:field="*{irNum}"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="city">Város</label>
                                <input class="form-control" id="city" placeholder="Város"
                                       th:field="*{city}"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="street">Utca</label>
                                <input class="form-control" id="street" placeholder="Utca"
                                       th:field="*{street}"
                                       type="text"/>
                            </div>
                        </div >
                    <div class="col">
                        <div class="form-group">
                            <label for="streetNum">Házszám</label>
                            <input class="form-control" id="streetNum" placeholder="Házszám"
                                   th:field="*{streetNum}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="floorNum">Emelet</label>
                            <input class="form-control" id="floorNum" placeholder="Emelet"
                                   th:field="*{floorNum}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="doorNum">Ajtó</label>
                            <input class="form-control" id="doorNum" placeholder="Ajtószám"
                                   th:field="*{doorNum}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="principal">Megbízó</label>
                            <input class="form-control" id="principal" placeholder="Megbízó"
                                   th:field="*{principal}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="perNum">Perszám/Megbízás iktatószáma</label>
                            <input class="form-control" id="perNum" placeholder="Perszám/Megbízás iktatószáma"
                                   th:field="*{perNum}"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="principalDelegate">Megbízó képviselője</label>
                            <input class="form-control" id="principalDelegate" placeholder="Megbízó képviselője"
                                   th:field="*{principalDelegate}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="amount">Díj</label>
                            <input class="form-control" id="amount" placeholder="Díj"
                                   th:field="*{amount}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="date">Határidő</label>
                            <input class="form-control" id="date" placeholder="Határidő"
                                   th:field="*{date}"
                                   type="date"/>
                        </div>
                        <div class="form-group">
                            <label for="ig_category">Megbízó típus</label>
                            <select class="form-control " id="ig_category" th:field="*{ig_category}">
                                <option hidden value="">Válassz megbízó típust</option>
                                <option
                                        th:each="igCategory : ${T(com.release.iktatoapi.data.entity.IgCategory).values()}"
                                        th:text="${igCategory}"
                                        th:value="${igCategory}">
                                </option>
                            </select>
                            </div>
                        <div class="form-group">
                            <label for="va_category">Szakértői típus</label>
                            <select class="form-control " id="va_category" th:field="*{va_category}">
                                <option hidden value="">Válassz szakértői típust</option>
                                <option
                                        th:each="vaCategory : ${T(com.release.iktatoapi.data.entity.VaCategory).values()}"
                                        th:text="${vaCategory}"
                                        th:value="${vaCategory}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col">

                            <div class="form-group">
                                <label for="description">Megjegyzés</label>
                                <input class="form-control" id="description" placeholder="Megjegyzés"
                                       th:field="*{description}"
                                       type="text"/>
                            </div>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Rekord létrehozása">
                </div>
        </form>
    </div>
</div>
<div class="card border-primary mb-3">
    <h2 class="card-header" align="center">Iktatószám Törlése</h2>
        <div class="card-body">
            <div class="alert alert-success" id="target1" align="center" role="alert" th:text="${delete}" th:if="${delete}"></div>
            <form class="col card p-3 mb-5" method="post" th:action="@{/deleteDataHolder}" th:object="${dataInfo}">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <select class="form-control" required th:field="*{dataHolder}">
                                <option hidden value="">Válassz iktatószámot</option>
                                <option
                                        th:each="data, rows : ${dataList}"
                                        th:text="${data.iktNum}"
                                        th:value="${data.id}">
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input class="btn btn-primary" type="submit" value="Iktatószám törlése">
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>
</body>
<script>
/**
 * @returns {Object}
*/
function defaultFadeConfig() {
  return {
      easing: 'linear',
      iterations: 1,
      direction: 'normal',
      fill: 'forwards',
      delay: 0,
      endDelay: 0
    }
}

/**
 * @param {HTMLElement} target
 * @param {number} durationInMs
 * @param {Object} config
 * @returns {Promise}
 */
async function fadeOut(target, durationInMs, config = defaultFadeConfig()) {
  return new Promise((resolve, reject) => {
    const animation = target.animate([
      { opacity: '1' },
      { opacity: '0', offset: 0.5 },
      { opacity: '0', offset: 1 }
    ], {duration: durationInMs, ...config});
    animation.onfinish = () => resolve();
  })
}


window.addEventListener('load', async ()=> {
  let target = document.getElementById('target');
  for(const it of "message") {
    await fadeOut(target, 5000);
    target.innerText = message;
  }
})
window.addEventListener('load', async ()=> {
  let target = document.getElementById('target1');
  for(const it of "message") {
    await fadeOut(target, 5000);
    target.innerText = message;
  }
})
window.addEventListener('load', async ()=> {
  let target = document.getElementById('target2');
  for(const it of "message") {
    await fadeOut(target, 5000);
    target.innerText = message;
  }
})
;
</script>
</html>