<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adatfelvitel</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/submit.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Iktato rendszer</a>
    <a class="navbar-brand" href="#">Adatfelvitel</a>
    <a class="navbar-brand" href="/search">Keresés</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="card border-primary mb-3">
    <h2 class="card-header" align="center">Iktatószám generálás</h2>
    <div class="card-body">
        <form class="col card p-3 mb-5" method="post" th:action="@{/generateDataHolder}">
            <div class="container">
                <input class="btn btn-primary" type="submit" value="Új iktatószám generálása">
            </div>
        </form>
    </div>
</div>

<div class="card border-primary mb-3">
    <h2 class="card-header" align="center">Adatrögzítés</h2>
    <div class="card-body">
        <form class="col card p-3 mb-5" method="post" th:action="@{/submit}" th:object="${dataInfo}">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group" >
                            <label for="dataH">Iktatószám csatolása</label>
                            <select class="form-control " id="dataH" required th:field="*{dataHolder}">
                                <option hidden value="">Válassz iktatószámot</option>
                                <option
                                        th:each="data, rows : ${dataList}"
                                        th:text="${data.iktNum}"
                                        th:value="${data.id}">
                                </option>
                            </select>
                        </div>
                            <div class="form-group">
                                <label for="hszNum">Helyzajzi szám</label>
                                <input class="form-control" id="hszNum" placeholder="Helyrajzi szám" required
                                       th:field="*{hszNum}"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="irNum">Irányítószám</label>
                                <input class="form-control" id="irNum" placeholder="Irányítószám" required
                                       th:field="*{irNum}"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="city">Város</label>
                                <input class="form-control" id="city" placeholder="Város" required
                                       th:field="*{city}"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="street">Utca</label>
                                <input class="form-control" id="street" placeholder="Utca" required
                                       th:field="*{street}"
                                       type="text"/>
                            </div>
                        </div >
                    <div class="col">
                        <div class="form-group">
                            <label for="streetNum">Házszám</label>
                            <input class="form-control" id="streetNum" placeholder="Házszám" required
                                   th:field="*{streetNum}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="floorNum">Emelet</label>
                            <input class="form-control" id="floorNum" placeholder="Emelet" required
                                   th:field="*{floorNum}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="doorNum">Ajtó</label>
                            <input class="form-control" id="doorNum" placeholder="Ajtószám" required
                                   th:field="*{doorNum}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="principal">Megbízó</label>
                            <input class="form-control" id="principal" placeholder="Megbízó" required
                                   th:field="*{principal}"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="principalDelegate">Megbízó képviselője</label>
                            <input class="form-control" id="principalDelegate" placeholder="Megbízó képviselője" required
                                   th:field="*{principalDelegate}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="amount">Díj</label>
                            <input class="form-control" id="amount" placeholder="Díj" required
                                   th:field="*{amount}"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="date">Határidő</label>
                            <input class="form-control" id="date" placeholder="Határidő" required
                                   th:field="*{date}"
                                   type="date"/>
                        </div>
                        <div class="form-group">
                            <label for="ig_category">Megbízó típus</label>
                            <select class="form-control " id="ig_category" required th:field="*{ig_category}">
                                <option hidden value="">Válassz megbízó típust</option>
                                <option
                                        th:each="igCategory : ${T(com.release.iktatoapi.data.entity.IgCategory).values()}"
                                        th:text="${igCategory}"
                                        th:value="${igCategory}">
                                </option>
                            </select>
                            </div>
                    </div>
                    <div class="col">
                            <div class="form-group">
                                <label for="va_category">Szakértői típus</label>
                                <select class="form-control " id="va_category" required th:field="*{va_category}">
                                    <option hidden value="">Válassz szakértői típust</option>
                                    <option
                                            th:each="vaCategory : ${T(com.release.iktatoapi.data.entity.VaCategory).values()}"
                                            th:text="${vaCategory}"
                                            th:value="${vaCategory}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Megjegyzés</label>
                                <input class="form-control" id="description" placeholder="Megjegyzés" required
                                       th:field="*{description}"
                                       type="text"/>
                            </div>

                    </div>
                </div>

                <input class="btn btn-primary" type="submit" value="Rekord létrehozása">
                </div>
        </form>
    </div>
</div>
</body>
</html>